
/* ------info-sec----- */
.nav-top {
    background-color: #df314d;
    padding: 15px 0px;
}

.info {
    display: flex;
    justify-content: space-between;

}

.info .num-box {
    display: flex;
    color: #fff;
    align-items: center;
}

.info .num-box p {
    margin: 0;
    font-family: Noto Sans Kannada UI;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
}

.info .icon-box {
    display: flex;
    align-items: center;
}

.info .icon-box h5 {
    margin: 0;
    color: #fff;
    font-family: Noto Sans Kannada UI;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 60px;
    cursor: pointer;
}

.nav-top .icon {
    margin: 0px 10px;
    cursor: pointer;
}

.nav-top #icon1 {
    height: 19px;
}

.nav-top #icon2 {
    height: 21px;
}

.nav-top #icon3 {
    height: 21px;
}

.nav-top .fa-solid {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}






/* ------navbar----- */
.Navbar {
    background-color: #252645;

}

.navbar .nav-link {
    color: #fff !important;
    font-family: Noto Sans Kannada UI;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 10px;
    border-radius: 50px;
    padding: 5px 10px !important;
}

.navbar .dropdown-menu{
    background-color: #252645;
}

.navbar .dropdown-menu li a{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.navbar .dropdown-menu li a:hover{
    color: #000;
}

.navbar .nav-link:hover {
    background-color: #df314d;
}

.navbar img {
    height: 46px;
    margin-right: 60px;
}

.navbar .active {
    background-color: #df314d;
    border: 1px solid #df314d !important;
}

.navbar .btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-family: Noto Sans Kannada UI;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 13px !important;
    margin: 0px 7px;
    transition: 0.5s;
}

.navbar .btn:hover {
    color: #fff;
    transform: scale(0.9);
}








/* -------header------- */
.header {
    background: url(../images/bg.png)no-repeat center center/cover;
    color: #fff;
    font-family: Noto Sans Kannada UI;
    padding-top: 55px;
    padding-bottom: 65px;
}

.header h1 {
    font-weight: 600;
    font-size: 60px;
}

.header h3 {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 15px;
}

.header p {
    font-size: 17px;
    padding-right: 40px;
    line-height: 28px;
}






/* ----rating---- */
.rating {
    background-color: #f1f1f1;
    padding: 30px;
}

.rating .Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rating img {
    height: 60px;
}

.rating p {
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    font-size: 19px;
}





/* ----review----- */
.review {
    padding: 100px 0px;
    overflow: hidden;
}

.review .slider-logo {
    height: 90px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.review h1 {
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    font-size: 41px;
    color: #df314d;
    margin-bottom: 30px;
}

.review p {
    font-family: Noto Sans Kannada UI;
    color: #000;
    padding-right: 70px;
}

.review .slider-img {
    height: 400px;

}

.review .id>img {
    height: 55px;
    margin-right: 15px;
}

.review .id {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.review .id p {
    padding: 0;
    margin-bottom: 4px;
    color: #df314d;
    font-weight: 600;
    font-size: 20px;

}

.review .location img {
    height: 18px;
}

.review span {
    margin-left: 3px;
    font-size: 15px;
}

.review .location {
    display: flex;
    align-items: center;
    font-family: Noto Sans Kannada UI;
}

.review .img-sec {
    display: flex;
    justify-content: center;
}

.review .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review .slick-dots li.slick-active button:before {
    color: #df314d !important;
}








/* ---------alert----------- */
.alert {
    background-color: #df314d;
    font-family: Noto Sans Kannada UI;
    color: #fff;
}

.alert h1 {
    font-size: 60px;
    font-weight: 600 !important;
    margin-top: 60px;
}

.alert p {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 30px 0px;
}

.alert .btn {
    font-weight: 600;
    color: #fff;
    border-radius: 40px;
    padding: 4px 20px;
    transition: 0.5s;
}

.alert .btn:hover {
    transform: scale(0.9);
}

.alert .btn1 {
    background-color: #252645;
    margin-right: 5px;
}

.alert .btn2 {
    background-color: #fff;
    color: #df314d;
}

.alert img {
    height: 420px;
    display: block;
    margin: auto;
}







/* ------step------ */
.step {
    text-align: center;
    font-family: Noto Sans Kannada UI;
    padding: 50px;
}

.step h1 {
    font-size: 60px;
    font-weight: 600;
    color: #df314d;
}

.step p {
    font-size: 20px;
    margin-bottom: 40px;
}

.step .card img {
    height: 130px;
    width: 130px;
    display: block;
    margin: auto;
}

.step .card {
    border: none;
    text-align: center;
}

.step .arrow {
    margin-top: 50px;
}

.step h5 {
    font-weight: 600;
}

.step .card p {
    font-size: 13px;
    letter-spacing: 0.3px;
    padding: 0px 15px;
}







/* ------trust----- */
.trust {
    font-family: Noto Sans Kannada UI;
    background-color: #252645;
    padding-top: 50px;
}

.trust .home-img {
    height: 450px;
    position: relative;
    right: 22%;
}

.trust .card {
    border: none;
    background: none;
    flex-direction: row;
    margin-bottom: 70px;
    margin-left: 80px;
}

.trust .card .body {
    margin-left: 25px;
}

.trust .card img {
    height: 70px;
    width: 70px;
}

.trust h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;

}

.trust p {
    color: #fff;

}






/* ------map------ */
.map {
    background-color: #252645;
    color: #fff;
    padding: 60px 0px;
}

.map .h-primary {
    font-size: 32px;

}



.map .line {
    position: relative;
    right: 22%;
    height: 34px;
    margin-bottom: 30px;

}

.map .h-secondary {
    font-size: 35px;
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.map .h {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.map .h img {
    height: 33px;
    width: 3px;
}

.map p {
    font-family: Noto Sans Kannada UI;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 28px;
    padding-right: 20px;
    margin-top: 40px;
}

.map .map-img {
    height: 350px;
}







/* ------form------- */
.form {
    background-color: #252645;
    padding-bottom: 70px;
}

.form .bg {
    background-image: url(../images/bg-2.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;

    color: #fff;

}

.form h1 {
    font-size: 35px;
    font-weight: 400;
}

.form p {
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 28px;
    font-family: Noto Sans Kannada UI;
    padding-right: 20px;

}

.form .btn {
    color: #fff;
    background-color: #df314d;
    border-radius: 30px;
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    font-size: 17px;
    padding: 6px 40px;
    margin-top: 20px;
    transition: 0.5s;
}

.form .btn:hover {
    transform: scale(0.9);
}

.form .form-select {
    background-color: #df314d;
    border: none;
    color: #fff;
    font-family: Noto Sans Kannada UI;
    margin: 15px 0px;
    padding: 10px 15px;
}

.form .form-check-input[type=checkbox] {
    background-color: #df314d;
    border: none;
}

.form .form-check label {
    font-weight: 600;

}

.form .margin {
    margin-bottom: 20px;

}



.form .form-select {
    --bs-form-select-bg-img: url(../images/form-arrow.png);
}

.form .search-btn {
    display: block;
    margin: auto;
    background-color: #252645;
    border: none;
    font-family: Noto Sans Kannada UI;
    padding: 6px 30px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
}

.form .search-btn:hover {
    transform: scale(0.9);
}







/* -------review2------- */
.review2 {
    background-color: #df314d;
    padding: 70px;
}

.review2 h1 {
    text-align: center;
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    color: #fff;

}

.review2 h2 {
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;

}

.review2 .box {
    display: flex;
    justify-content: space-between;
}

.review2 .box img {
    height: 32px;
    margin: 0px 10px;
}

.review2 .box .stars {
    margin-right: 50px;
    display: flex;
}

.review2 p {
    color: #fff;
    font-family: Noto Sans Kannada UI;
    padding-right: 30px;
}

.review2 .btn2 {
    color: #df314d;
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    background-color: #fff;
    border-radius: 30px;
    padding: 6px 30px;
    margin-top: 20px;
    border: 1px solid #fff;
    transition: 0.5s;
}

.review2 .btn2:hover {
    transform: scale(0.9);
}

.review2 .textSec {
    margin-top: 120px;
}

.review2 .imgSec img {
    height: 400px;
}

.review2 .imgSec {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.review2 .slick-dots li.slick-active button:before {
    color: #fff !important;

}

.review2 .slick-dots li button:before {
    margin-top: 30px;
    font-size: 14px;
    color: #fff !important;
}

.review2 .slick-next:before {
    display: none;
}

.review2 .slick-prev:before {
    display: none;
}









/* -------blogSec-------- */
.blogSec {
    background-color: #252645;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
    overflow: hidden;
}

.blogSec h1 {
    text-align: center;
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    margin-bottom: 50px;
}

.blogSec img {
    height: 160px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}


.blogSec .Card {
    margin-left: 27px;
}

.blogSec h5 {
    font-family: Noto Sans Kannada UI;
    font-size: 18px;
    margin-top: 15px;
}

.blogSec p {
    font-family: Noto Sans Kannada UI;
    font-size: 13px;
}

.blogSec .btn3 {
    color: #fff;
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    background-color: #df314d;
    border-radius: 30px;
    padding: 3px 10px;
    font-size: 13px;
    border: 1px solid #df314d;
    transition: 0.5s;
}

.blogSec .btn3:hover {
    transform: scale(0.9);
}

.blogSec .slick-dots li button:before {
    margin-top: 20px;
    font-size: 10px;
    color: #fff !important;
}






/* -------appSec------ */
.appSec {
    padding: 40px 0px;
}

.appSec .textSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appSec h1 {
    font-family: Noto Sans Kannada UI;
    font-weight: 600;
    margin-bottom: 15px;
}

.appSec p {
    font-family: Noto Sans Kannada UI;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.appSec .imgSec img {
    height: 500px;
}

.appSec .imgs img {
    height: 65px !important;
    margin-right: 15px;
}






/* ------footer------ */
footer {
    background-color: #252645 !important;
    color: #fff;
    font-family: Noto Sans Kannada UI;
    padding-top: 60px;
    padding-bottom: 20px;
}

footer .logo {
    margin-bottom: 20px;
}

footer .box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer .box img {
    height: 16px;
}

footer p {
    font-size: 13px !important;
    letter-spacing: 1px;
    margin-left: 12px;
    margin-bottom: 0;
}

footer .row {
    justify-content: space-between;
}

footer .image {
    height: 155px;
    margin-bottom: 30px;
    border-radius: 3px;

}

footer .col-md-4 {
    width: 30% !important;
}

footer .btn3 {
    color: #fff;
    font-family: Noto Sans Kannada UI;
    /* font-weight: 600; */
    background-color: #df314d;
    border-radius: 30px;
    padding: 5px 25px;
    font-size: 17px;
    border: 1px solid #df314d;
    transition: 0.5s;
    margin-top: 20px;
}

footer .btn3:hover {
    transform: scale(0.9);
}

footer .form-control {
    border-radius: 30px;
    margin-top: 40px;
}

footer h1 {
    color: #df314d;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 3px;
}

footer h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 40px;
}

footer .formSec img {
    margin-right: 9px;
    margin-bottom: 30px;
}

.lastFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.lastFooter p {
    font-size: 16px !important;
    margin: 0;
}












/* ******************MediaQuiry******************* */

/* @media (max-width:1120px){
    .map .map-img {
        height: 310px;
    }

    .appSec .imgSec img {
        height: 449px;
    }
}
     */
